body {
  background-image: url(photos/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.opacitylayer {
  background-color: rgba(0, 0, 0, 0.405);
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

main a {
  width: fit-content;
}

main a img {
  padding: 15px 0;
}

h1 {
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px black;
  font-size: 3.5vh;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: contain;
    background-position: center;
    background-color: #46070f;
  }
}
