body {
  margin: 0;
 
  overflow: hidden;
  height: fit-content;

}

.section-one-container {
  background-image: url(static/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.opacitylayer {
  background-color: rgba(0, 0, 0, 0.405);
  overflow: hidden;
 
 
}

.slidein {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}





main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

.profilelinks a {
  width: fit-content;
  padding: 3px;

}

.profilelinks a img, .profilelinks svg {
  padding: 20px 0;
  height: 45px;
  width: 45px;

}


h1 {
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px black;
  font-size: 3.5vh;
  padding: 0;
  padding-bottom: 8vh;
  margin: 0;
}

.section-title {
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px black;
  font-size: 3.5vh;
  padding: 0;
  margin: 0;
  border-bottom: 4px solid black;
  width: 90%;
  text-align: center;
}

.section-two-container {
  top: 95%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  transition: top 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTwoslide {
  top: 10vh;
}

.arrow-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-color: rgba(11, 91, 64, 0.811);
  z-index: 4;
  display: flex;
  justify-content: center;
}


.section-two-container:hover .arrow-container img {
  transform: rotate(180deg);
  transition: 1s;
  
}


.arrow-container img {
  width: 45px;
  height: 45px;
  transition: 1s;
}


.section-two-info {
 
  background-color: rgba(11, 91, 64, 0.811);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.carousel {
  scroll-snap-type: y mandatory;
  scroll-padding: 10px 0;
  scroll-snap-align: start;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: 100%;
  border-bottom: 4px solid black;
  margin: 20px 0;
}

.project-wrapper h3{
  padding: 0;
  margin: 0;

  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px black;
  font-size: 20px;
}

.project-info {
  margin: 10px;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(245, 245, 245, 0.808);
}

#project {
  display: flex;
  flex-wrap: wrap;
}

.project-wrapper img {
  border: 6px solid rgb(0, 0, 0);
  height: 200px;
  width: 120px;

}

@media screen and (min-width: 650px) {
 #project {
   flex-wrap: nowrap;
 }
}

@media screen and (min-width: 1024px) {
  body {
 
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .section-one-container {
    background-image: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    background-image: url(static/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .polygon {
    z-index:2;
    width: 100%;
    position: absolute;
    
  }
  
  

  .left-slide-container {
    border: 30px solid rgb(49, 46, 46);
    border-right-color: #870a0a49;
    border-left-color: #261e1e8e;
    width: 50%;
    
    
   


    background-image: repeating-linear-gradient(
        67.5deg,
        rgba(207, 12, 12, 0.2) 0px,
        rgba(181, 8, 8, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        rgba(116, 12, 12, 0.2) 1px,
        rgba(87, 5, 5, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        rgba(123, 9, 9, 0.2) 5px,
        rgba(104, 17, 17, 0.2) 8px
      ),
      repeating-linear-gradient(
        0deg,
        rgba(157, 40, 40, 0.2) 0px,
        rgba(196, 101, 101, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        rgba(204, 94, 94, 0.2) 1px,
        rgba(204, 43, 43, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        rgba(202, 48, 48, 0.2) 5px,
        rgba(116, 30, 30, 0.2) 8px
      ),
      linear-gradient(135deg, rgb(238, 81, 81), rgb(153, 51, 51));
  }

  .right-slide-container {
    border: 30px solid rgb(49, 46, 46);
    border-left-color: #870a0aa8;
    border-right-color: #221515bb;
   

    width: 50%;

    background-image: repeating-linear-gradient(
        67.5deg,
        rgba(207, 12, 12, 0.2) 0px,
        rgba(181, 8, 8, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        rgba(116, 12, 12, 0.2) 1px,
        rgba(87, 5, 5, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        rgba(123, 9, 9, 0.2) 5px,
        rgba(104, 17, 17, 0.2) 8px
      ),
      repeating-linear-gradient(
        0deg,
        rgba(157, 40, 40, 0.2) 0px,
        rgba(196, 101, 101, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        rgba(204, 94, 94, 0.2) 1px,
        rgba(204, 43, 43, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        rgba(202, 48, 48, 0.2) 5px,
        rgba(116, 30, 30, 0.2) 8px
      ),
      linear-gradient(135deg, rgb(238, 81, 81), rgb(153, 51, 51));
  }

  .slidein {
    background-color: #570606e5;
  }

  .left-slide,
  .right-slide {
    opacity: 1;
    visibility: 1;
  }
}

