body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/* top nav */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(107, 91, 91);
    position: fixed;
}

.title-name a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.contact a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    color: white;
}


/* main content */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    align-items: center;
}

.main-title {
    font-size: 30px;
    font-weight: 800;

}

/* app */

.application-wrap {
    display: flex;  
    width: 60%;  
    margin: 80px 0;
    justify-content: center;
    align-items: center;
}

.app-href {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;

}

.app-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.app-desc-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-title {
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    border-bottom: 2px solid black;
}

.source-wrap {
    display: flex;
}

.app-desc {
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.desc-cat {
    font-size: 20px;
    font-weight: 700;
    width: 150px;
}

.desc-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.view-app {
    margin-top: 40px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: thistle;
    border-radius: 10px;
}

.app-break {
    width: 80%;
    border-bottom: 2px solid black;
}
