<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block 'title' %} <title>Colton Tatum</title> {% endblock 'title' %} <title>Colton Tatum</title>
{% block 'content' %}

<div class="main-content">
    <p class="main-title">
        Featured Applications
    </p>

    {% comment %} app one {% endcomment %}
    <div class="application-wrap">

        <a href="https://github.com/Tatumc4561/Astroid_Tracker" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}

        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo?
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>

            <a href="https://tatumc4561.github.io/Astroid_Tracker/" class='view-app-href'><button class="view-app">View
                    App</button></a>

        </div>
    </div>
    <div class="app-break"></div>
    {% comment %} app two {% endcomment %}
    <div class="application-wrap">

        <a href="https://github.com/Tatumc4561/Astroid_Tracker" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}
        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo?
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>
            <a href="https://tatumc4561.github.io/Astroid_Tracker/"><button class="view-app">View App</button></a>

        </div>
    </div>
    <div class="app-break"></div>
    {% comment %} app 3 {% endcomment %}
    <div class="application-wrap">

        <a href="https://tatumc4561.github.io/Astroid_Tracker/" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}
        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo?
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>
            <a href=""><button class="view-app">View App</button></a>

        </div>
    </div>
    <div class="app-break"></div>
    {% comment %} app 4 {% endcomment %}
    <div class="application-wrap">

        <a href="https://tatumc4561.github.io/Astroid_Tracker/" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}
        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo?
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>
            <a href=""><button class="view-app">View App</button></a>

        </div>
    </div>
    <div class="app-break"></div>
    {% comment %} app 5 {% endcomment %}
    <div class="application-wrap">

        <a href="https://tatumc4561.github.io/Astroid_Tracker/" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}
        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo? Lorem ipsum dolor, sit amet
                consectetur adipisicing elit.
                Tenetur, perspiciatis ullam odio fuga repudiandae dolor beatae error explicabo cumque fugit.
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>
            <a href=""><button class="view-app">View App</button></a>


        </div>
    </div>
    <div class="app-break"></div>

    {% comment %} app 6 {% endcomment %}
    <div class="application-wrap">

        <a href="https://tatumc4561.github.io/Astroid_Tracker/" class='app-href'>
            {% comment %} <img src="{% static 'images/astroid.png' %}" alt="" class="app-image"> {% endcomment %}
        </a>

        <div class="app-desc-wrap">
            <p class="app-title">
                Asteroid Tracker
            </p>
            <p class="app-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab officiis velit saepe, est necessitatibus
                autem quam consectetur quae magni assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Eos sequi laborum nostrum non laudantium quidem quia vitae totam sit nemo?
            </p>
            <div class="source-wrap">
                <div class="desc-cat">
                    <ul>
                        <li class="desc-list">Languages:
                        </li>
                        <li class="desc-list">Libraries:
                        </li>
                        <li class="desc-list">Data Sources:

                        </li>
                    </ul>
                </div>
                <div class="desc-text">
                    <ul>
                        <li class="desc-list">
                            Python, JavaScript, HTML, CSS
                        </li>
                        <li class="desc-list">Django</li>
                        <li class="desc-list">All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/)
                        </li>
                    </ul>
                </div>
            </div>
            <a href=""><button class="view-app">View App</button></a>

        </div>
    </div>
</div>
<div class="app-break"></div>

{% endblock 'content' %}