@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap');
body {
    background-image: linear-gradient(327deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(287deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(468deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(270deg, rgb(255,255,255),rgb(255,255,255));
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/* top nav */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgba(107, 77, 77, 0.937);
    position: fixed;
}

.title-name a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}

.webheader-text {
    margin-left: 10px;
}

.contact {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top-href {
    text-decoration: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    margin-right: 10px;
}

.top-icon {
    width: 32px;
    height: 32px;
}


/* main content */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    align-items: center;
}

* {
    color: rgba(2, 2, 2, 0.548);
    font-family: 'Barlow Condensed', sans-serif;
}

.main-title {
    font-size: 30px;

}

/* app */

.application-wrap {
    display: flex;  
    width: 60%;  
    margin: 80px 0;
    justify-content: center;
    align-items: center;

}

.app-href {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;

}

.app-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.app-desc-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-title {
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    border-bottom: 2px solid black;
}

.source-wrap {
    display: flex;
}

.app-desc {
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.desc-cat {
    font-size: 20px;
    font-weight: 700;
    width: 150px;
}

.desc-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.view-app-href {
    width: 0;
    height: 0;

}

.button-wrap {
    display: flex;
}

.view-app {
    margin-top: 40px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: thistle;
    border-radius: 10px;
}

.view-app:hover {
    background-color: rgb(96, 56, 96);
    cursor: pointer;
}

.app-break {
    width: 80%;
    border-bottom: 2px solid black;
    margin-top: 40px;
}
